
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="mt-5">
        <h2 class="font-monospace text-center text-info">Paroldi ozgertiw</h2>
        <p class="font-monospace text-center">
            Eski paroldi kiritip keyin taza parol jaratiw
        </p>
        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-info font-monospace" type="submit">Ozgertiw</button>
        </form>
    </div>


{% endblock %}