
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="mt-5">
        <h2 class="font-monospace text-danger">Parol esin'izden shiqtima?</h2>
        <p class="font-monospace">
            Tomendegi email manzilin'izdi kiritip, paroldi tiklew ushin jollanba..
        </p>
        <form action="" method="post">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Jiberiw</button>
        </form>
    </div>


{% endblock content %}